.page-header{
  padding: 20px;
  display: flex;
  position: fixed;
  color: white;
  z-index: 10;
  justify-content: space-between;
  background: black;
  width: 100%;
}
.page-header__nav a{
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
